* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.main-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.main-title {
    font-weight: 700;
    color: #70544f;
    line-height: 1.33;
}

.main-input {
    font-weight: bold;
    font-size: 25px;
    border: none;
    outline: none;
    text-align: center;
    color: #70544f;
    margin-bottom: 30px;
}

.main-input::placeholder {
    color: rgba(128, 128, 128, 0.342);
}

.dough-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 335px;
    height: 36px;
    cursor: default;
    color: #70544f;
    border-radius: 50px;
    border: 1px solid #ededed;
    margin-bottom: 30px;
}

.dough-block>div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 167px;
    height: 36px;
    transition: transform .35s cubic-bezier(.215, .61, .355, 1);
    cursor: pointer;
}

.active {
    border-radius: 50px;
    background-color: #ededed;
}

.chooseIngredientsBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    width: 335px;
    padding: 0 25px;
    border-radius: 24px;
    outline: none;
    border: none;
    background-color: #50a684;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}